<html>
	<head>
		<meta charset="utf-8" />
		<title>Componenentes</title>
		<link rel="shortcut icon" href="../imagens/garo.jpg">
		<link type="text/css" rel="stylesheet" href="../style/estilo.css" />
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="../home.html">HOME</a></li>
				<li><a href="sobre.html">SOBRE</a></li>
				<li class="active"><a href="componentes.html">COMPONENTES</a></li>
				<li><a href="projetos.html">GALERIA DE FOTOS</a></li>
				<li><a href="contatos.html">CONTATOS</a></li>
			</ul>
		</div>
		<div id="conteudo">
			<table class="table-componentes">
                    <tr>
                        <td><img src="../imagens/diego.jpg"></td>
                        <td>
                        	<p>Diego Silveira Costa Nascimento, professor do Instituto Federal do Rio Grande do Norte - IFRN, do núcleo de Sistema de Informação no campus de Natal - Zona Norte</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagens/filipe.jpg"></td>
                        <td>
                        	<p>Filipe Raulino, professor do Instituto Federal do Rio Grande do Norte - IFRN, do núcleo de Redes de Computadores no campus de São Gonçalo do Amarante</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagens/moises.jpg"></td>
                        <td>
                        	<p>Moisés Abraão, aluno do curso de Licenciatura em Informática do Instituto Federal do Rio Grande do Norte - IFRN, no campus de Ipanguaçu</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagens/alice.jpg"></textarea></td>
                        <td>
                        	<p>Alice Melo, aluno do curso integrado de Informática no Instituto Federal do Rio Grande do Norte - IFRN, no campus de Ipanguaçu</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagens/izael.jpg"></td>
                        <td>
                        	<p>Izael Effemberg, aluno do curso integrado de Informática no Instituto Federal do Rio Grande do Norte - IFRN, no campus de Natal - Central</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagens/hevla.jpg"></td>
                        <td>
                        	<p>Hevla Kezia, aluno do curso integrado de Informática no Instituto Federal do Rio Grande do Norte - IFRN, no campus de Ipanguaçu</p>
                        </td>
                    </tr>
                </table>
		</div>
		<div id="rodape">
			<p> &copy Copyright - Moisés Abraão</p>
		</div>
	</body>
</html>