<html>
	<head>
		<meta charset="utf-8" />
		<title>Contatos</title>
		<link rel="shortcut icon" href="../imagens/garo.jpg">
		<link type="text/css" rel="stylesheet" href="../style/estilo.css" />
		<script type="text/javascript" src="../scripts/script.js"></script>
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="../home.html">HOME</a></li>
				<li><a href="sobre.html">SOBRE</a></li>
				<li><a href="componentes.html">COMPONENTES</a></li>
				<li><a href="projetos.html">GALERIA DE FOTOS</a></li>
				<li class="active"><a href="contatos.html">CONTATOS</a></li>
			</ul>
		</div>
		<div id="conteudo">

				<p>
                    <h2>Entre em contato com o GARO</h2>
                <p>

                <img src="../imagens/garo.jpg" width="35%">

                <table>
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" name="text1" placeholder="nome" id="text1"></td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td><input type="text" name="text2" placeholder="exemplo@gmail.com" id="text2"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Deixe sugestões</td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea name="text3" id="text3" placeholder="texto" cols="40" rows="4"></textarea></td>
                    </tr>
                    <tr>
                        <td><input type="button" value="Enviar" onclick="enviar()"></td>
                    </tr>
                </table>

		</div>
		<div id="rodape">
			<p> &copy Copyright - Moisés Abraão</p>
		</div>
	</body>
</html>