<html>
	<head>
		<meta charset="utf-8" />
		<title>Galeria de Fotos</title>
		<link rel="shortcut icon" href="../imagens/garo.jpg">
		<link type="text/css" rel="stylesheet" href="../style/estilo.css" />
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="../home.html">HOME</a></li>
				<li><a href="sobre.html">SOBRE</a></li>
				<li><a href="componentes.html">COMPONENTES</a></li>
				<li class="active"><a href="projetos.html">GALERIA DE FOTOS</a></li>
				<li><a href="contatos.html">CONTATOS</a></li>
			</ul>
		</div>
		<div id="conteudo">
			<table class="table-imagem">
                    <tr>
                        <td><img src="../imagens/m1r.jpg"></td>
                        
                    
                    
                        <td><img src="../imagens/l1.jpg"></td>
                        
                    </tr>
                    
                    <tr>
                        <td><img src="../imagens/DSC08085.jpg"></td>
                    
                    
                        <td><img src="../imagens/DSC08086.jpg"></td>
                    </tr>
                    

                    <tr>
                        <td><img src="../imagens/Foto 0936.jpg"></td>
                    

                        <td><img src="../imagens/16395_428517347222836_1762081334_n.jpg"></td>
                    </tr>
                    
                    <tr>
                        <td><img src="../imagens/480424_10200102507757222_1542030726_n.jpg"></td>
                     

                        <td><img src="../imagens/530461_408225302585374_1476227132_n.jpg"></td>
                    </tr>
                    
                    <tr>
                        <td><img src="../imagens/530596_408833035857934_1766413905_n.jpg"></td>
                    

                        <td><img src="../imagens/532156_10200329105543184_192634482_n.jpg"></td>
                    </tr>
                    
                    <tr>
                        <td><img src="../imagens/537877_408834439191127_434264377_n.jpg"></td>
                    

                        <td><img src="../imagens/553003_458006400947484_116767665_n.jpg"></td>
                    </tr>
                    
                    <tr>
                    	<td><img src="../imagens/600489_10200091018910008_1191697137_n.jpg"></td>
                    

                    	<td><img src="../imagens/1003412_305694466234012_470634284_n.jpg"></td>
                    </tr>
                    
                </table>
		</div>
		<div id="rodape">
			<p> &copy Copyright - Moisés Abraão</p>
		</div>
	</body>
</html>