<html>
	<head>
		<meta charset="utf-8" />
		<title>Sobre</title>
		<link rel="shortcut icon" href="../imagens/garo.jpg">
		<link type="text/css" rel="stylesheet" href="../style/estilo.css" />
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="../home.html">HOME</a></li>
				<li class="active"><a href="sobre.html">SOBRE</a></li>
				<li><a href="componentes.html">COMPONENTES</a></li>
				<li><a href="projetos.html">GALERIA DE FOTOS</a></li>
				<li><a href="contatos.html">CONTATOS</a></li>
			</ul>
		</div>
		<div id="conteudo">

			<ul class="list-sem-style">
				<li>
					<img class="centraliza" src="../imagens/test.jpg">
				</li>
				<li>
					<p>
		                O Grupo de Automação e Robótica(GARO), surgil no IFRN CAMPUS IPANGUAÇU, no ano de 2012.
		                No início, seu principal objetivo eram os estudos em Robótica através do Arduino, que é
		                um plataforma de prototipagem que serve para realizar diversos tipos de projetos.
		                Com decorrer do tempo, vimos que muitos alunos do campus não tinham interesse em 
		                continuar na área de informática, então começamos a divulgar nossos trabalhos e 
		                ofertar minicursos de introdução à plataforma Arduino. Tivemos bons resultados e 
		                percebemos que despertamos interesse nos alunos do campus através dos nossos 
		                minicursos.
		            </p>
	        	</li>
        	</ul>
		</div>
		<div id="rodape">
			<p> &copy Copyright - Moisés Abraão</p>
		</div>
	</body>
</html>